* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Poppins", "Roboto", sans-serif;
  line-height: 1.6;
  overflow: auto;
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 0.88rem;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #0d6efd; /* Bootstrap primary color */
  border-radius: 2px;
  transition: background 0.3s ease;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b5ed7; /* Bootstrap primary dark */
}

/* For Firefox */
html {
  scrollbar-color: #0d6efd #d4d4d8; /* thumb | track */
}
/* pages hover  */
.nav-hover:hover {
  color: #0729ecda !important;
  transition: color 0.3s ease;
}
/* img card  */
.card-img-size {
  height: 180px;
  object-fit: cover;
}
/* love icon */
.icons {
  color: #ff4757;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
  z-index: 99;
  &:hover {
    color: #ff6b81;
  }
}
.No-recipes-found {
  height: 50vh;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #183bff,
    0 0 30px #1869ff, 0 0 40px #18b6ff, 0 0 55px #188fff, 0 0 75px #18d1ff,
    11px 16px 6px rgba(71, 49, 204, 0);
}

.my-recipes-icons {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  transition: ease-in 0.25s;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  &:hover {
    color: #183bff !important;
  }
}
